src/__pycache__/ej_1.cpython-313.pyc
src/__pycache__/ej_2.cpython-313.pyc
src/__pycache__/ej_3.cpython-313.pyc
src/__pycache__/ej_4.cpython-313.pyc
src/__pycache__/ej_5.cpython-313.pyc
src/__pycache__/ej_6.cpython-313.pyc
src/__pycache__/ej_7.cpython-313.pyc
src/__pycache__/ej_8.cpython-313.pyc
notebooks/.ipynb_checkpoints/Tp_2-checkpoint.ipynb
.ipynb_checkpoints/ej-9-checkpoint.ipynb
.ipynb_checkpoints/ej-8-checkpoint.ipynb
